# header = ['source', 'url', 'title', 'image', 'category', 'description', 'rank', 'pubdate', 'video']
########
# DATA #
########
"""
CSVs from: https://github.com/mhjabreel/CharCnn_Keras/tree/master/data/ag_news_csv
Constructed by: Xiang Zhang (xiang.zhang@nyu.edu)
    From: http://www.di.unipi.it/~gulli/AG_corpus_of_news_articles.html 
"""
headers = ['class', 'title', 'description']
pd.read_csv('train.csv', names=headers)['description'][0]

In [2]:
import pandas as pd
import nltk
from nltk.tokenize.punkt import PunktSentenceTokenizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [1]:
"""
All the news: https://www.kaggle.com/snapcrack/all-the-news
"""
nltk.download('punkt')
nltk.download('vader_lexicon')

tokenizer = PunktSentenceTokenizer()
classifier = SentimentIntensityAnalyzer()


data =pd.read_pickle('data.pkl')

[nltk_data] Downloading package punkt to /home/davina/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/davina/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [4]:
data.sample(5000, random_state=42)

                                                 sentences  scores
1747169  Michael writes: I am somewhat afraid the lives...  0.0000
3367545  Many claim to eat only healthy food and be fre...  0.7184
1138834  In 2012, a group of gunmen carrying machine gu...  0.0000
1711104  Hiring shortages are an example of the complex... -0.1531
959629   He’s getting top level support, including from...  0.5423
...                                                    ...     ...
2163513  “We are just getting started,” Sanders declare...  0.0000
2414131  How often does an infection during pregnancy l... -0.4019
2831798  His formal morning coat opened to reveal     t...  0.0000
1946979                “To be honest, I gave up,” he said.  0.5106
535417                                                 Mr.  0.0000

[5000 rows x 2 columns]

In [2]:
cores = [classifier.polarity_scores(sentence)['compound'] for sentence in sentences]

NameError: name 'sentences' is not defined

In [11]:
pd.read_csv('train.tsv', sep='\t', names=['full','split'])['full'].sample(15000, random_state=42)

50437     After the very heavy '' Dragontown '' album Al...
833339    The museum runs a library with photographic bo...
467398    Jakobshavn Isbræ is a major contributor to the...
984593    Wright also played the part of Mufasa in the o...
379040    In 2007 , she wrote the piano piece '' The Kis...
                                ...
826207    The lyrics to the song are drawn from a poem b...
362639    In 1940 he accompanied Rudolf Höß ( who later ...
666226    She was nominated for an NAACP Image Award in ...
427507    Instead , he recovered from illness and reques...
730705    The Fire - ship is a special type of starship ...
Name: full, Length: 15000, dtype: object

In [32]:
def sst_threshold(val):
    if val > 0.6:
        return 2 # pos
    elif val < 0.4:
        return 1 # neu
    else:
        return 0 # neg
# pd.read_csv('stanfordSentimentTreebank/datasetSentences.txt', sep='\t')
phrases = pd.read_csv('stanfordSentimentTreebank/dictionary.txt', sep='|', names=['phrase', 'phrase ids'])
sentiment = pd.read_csv('stanfordSentimentTreebank/sentiment_labels.txt', sep='|')
benchmark = phrases.join(sentiment, on='phrase ids', lsuffix="l")[['phrase', 'sentiment values']]
benchmark['sentiment values'] = benchmark['sentiment values'].apply(sst_threshold)
benchmark.columns = ['sentences', 'scores']

In [33]:
benchmark

                                                   phrase  sentiment values
0                                                       !                 0
1                                                     ! '                 0
2                                                    ! ''                 0
3                                                  ! Alas                 0
4                                             ! Brilliant                 2
...                                                   ...               ...
239227  zoning ordinances to protect your community fr...                 1
239228                                          zzzzzzzzz                 1
239229                                               élan                 0
239230                                                  É                 0
239231                   É um passatempo descompromissado                 0

[239232 rows x 2 columns]